@keyframes hero-intro {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes image-slide-a {
	0%{
		opacity: 0.8;
		transform: translateY(50px) rotateY(0deg) rotateX(12deg) rotateZ(15deg);

	}

	100% {
		transform: translateY(0px) rotateY(0deg) rotateX(12deg) rotateZ(15deg);
		opacity: 1;
	}

}

@keyframes image-slide-b {
	0%{
		opacity: 0.8;
		transform: translateY(50px)  rotateY(0deg) rotateX(20deg) rotateZ(-6deg);

	}

	100% {
		transform: translateY(0px) rotateY(0deg) rotateX(20deg) rotateZ(-6deg);
		opacity: 1;
	}

}
@keyframes image-slide-c {
	0%{
		opacity: 0.8;
		transform: translateY(50px) rotateY(-35deg) rotateX(5deg) rotateZ(10deg);

	}

	100% {
		transform: translateY(0px) rotateY(-35deg) rotateX(5deg) rotateZ(10deg);
		opacity: 1;
	}

}