@media (max-width: 480px) {
    .hro-container {
       margin: 80px auto 0;
    }
  
.hero-content {
  max-width: 250px;
  margin-left: -30px;
}

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 18px;
  }.hero-content p:last-of-type {
    font-size: 14px;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .about-container {
    padding: 50px 20px;
  }

  .image-item-grid .text-overlay {
    padding: 15px;
  }

  .image-item-grid h3 {
    font-size: 1.5rem;
  }

  .image-item-grid p {
    font-size: 1rem;
  }

.image-transformer {
    width: 35%;
  }

.transform-a {
  top: -90px;
  right: -40px;

}

.transform-b {
  top: -290px;
  right: -70px;

}

.transform-c {
  top: -450px;
  right: -100px;
}



@keyframes image-slide-a {
	0%{
		opacity: 0.8;
		transform: translateY(50px) rotateX(4deg) rotateY(-9deg) rotateZ(4deg);

	}

	100% {
		transform: translateY(0px) rotateX(4deg) rotateY(-9deg) rotateZ(4deg);
		opacity: 1;
	}

}

@keyframes image-slide-b {
	0%{
		opacity: 0.8;
		transform: translateY(50px)  rotateX(4deg) rotateY(-9deg) rotateZ(1deg);

	}

	100% {
		transform: translateY(0px) rotateX(4deg) rotateY(-9deg) rotateZ(1deg);
		opacity: 1;
	}

}
@keyframes image-slide-c {
	0%{
		opacity: 0.8;
		transform: translateY(50px) rotateX(8deg) rotateY(-7deg) rotateZ(5deg);

	}

	100% {
		transform: translateY(0px) rotateX(8deg) rotateY(-7deg) rotateZ(5deg);
		opacity: 1;
	}

}


  .results {
    padding: 60px 20px;
  }

  .services .container .heading h2 {
    font-size: 32px;
  }

  .faq .container .faq-list .faq-item h3 {
    font-size: 18px;
  }

  .footer {
    padding: 40px 20px;
  }
}
