

@media (max-width: 990px) {
   nav {
        position: fixed;
        top: 30px;
        width: 70%;
        padding: 0 15px;

    }

    .nav-links-container {
        display: block;
        position: absolute;
        top: 80px; 
        right: -150%;
        z-index: 990;
        width: 100%;
        height: 300px;
        background: rgba(0, 0, 0, 0.877);
        transition: right 0.3s ease;
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        border: 2px solid rgba(48, 48, 48, 0.76);
    }

    .nav-bar-resp-open{
        right: 0%;
    }

    .nav-links {
        display: block;
        right: 0%;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        transition: bottom 1.6s ease-in;
        z-index: 999;
    }

    .nav-links li {
        margin: 20px 0px;
        font-weight: bold;
    }
    .nav-links li a{
        color: white;
        font-size: 15;
        font-style: bold;
    }

    .nav-links.open {
        right: 0;
    }

    .hamburger {
        display: block;
    }

    .cta-buttons.desktop-cta {
        display: none;
    }

    .mobile-cta {
        display: block;
    }

  .hro-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    flex: 1 1 50%;
    text-align: left;
    margin-right: 80px;
  }

   .image-wrapper {
    margin: 0;
  }

  .image-transformer {
    width: 40%;
    height: auto;
    box-shadow: none;
    transition: none;
  }
.transform-a {
  top: 4%;
  right: 20px;

}

.transform-b {
  top: -22%;
  right: -120px;

}

.transform-c {
  top: -300px;
  right: -250px;
}



  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .stats {
    grid-template-columns: 1fr 1fr;
  }

  .image-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 640px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

  .image-item-1,
  .image-item-2,
  .image-item-3,
  .image-item-4 {
    grid-column: auto;
    grid-row: auto;
  }

  .creates-box{
    width: 80%;
    min-width: fit-content;

}

.results {
  padding: 100px 2%;

}

.results .container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
}
.upper-title-bar{
    max-width: 100%;
}
.title-block-res {
  max-width: 100%;
}
.context-block-res p{
    margin: 50px auto;
    font-size: 20px;
}
  .footer .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    align-items: flex-start;
    width: 100%;
  }
}
