
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hro-container {
  padding: 0 50px;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
  max-width: 50%;
}

  .cta-buttons .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .info p{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
}

  .stats {
    grid-template-columns: 1fr;
  }

  .result-grid {
    grid-template-columns: 1fr;
  }

  .services {
    padding: 30px 20px;
  }

  .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .image-item-grid {
    aspect-ratio: 1/1;
    height: auto;
  }
  
  .image-item-1,
  .image-item-2,
  .image-item-3,
  .image-item-4 {
    grid-column: auto;
    grid-row: auto;
  }

  .image-item-grid {
    min-height: 250px;
  }

  .creates-box{
    width: 100%;
    height: 500px;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #eeeeee;
    color: #270c41;
}

.creates-box h1{
    font-weight: bolder;
    letter-spacing: -1px;
}

.creates-box p{
    font-size: 18px;
    margin: 20px auto;
}

.creates-box .btn{
    background-color: #270c41;
    color: white;
}

  .faq {
    padding: 30px 20px;
  }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-right {
        justify-content: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }
}